// app global css in Stylus form
.fixed-position-stamp-sent .q-message-stamp{
  position:absolute;
  left:-40px;
}
.fixed-position-stamp-answer .q-message-stamp{
  position:absolute;
  right:-40px;
}
.message-width{
  max-width:200px;
}
