// app global css in Stylus form
.fixed-position-stamp-sent .q-message-stamp {
  position:absolute;
  bottom: 5px;
  left:-40px;
}
.fixed-position-stamp-answer .q-message-stamp{
  position:absolute;
  bottom: 5px;
  right:-40px;
}
.message-width{
  max-width:200px;
}

.doljnoPomoch .q-message-text-content{
  max-width: 50vw
}
.doljnoPomoch .q-message-text:last-child{
  min-height: 0
}
